$darkest: #2e3440;
$dark: #3b4252;
$light: #434c5e;
$lightest: #4c566a;

* {
    font-family: 'Fira Code';
}

.bar {
    background-color: $dark;
}

.big {
    font-size: 15px;
    margin-right: 10px;
}

.workspace-entry {
    color: white;

    &.current {
        background-color: $lightest;
    }

    &.occupied {
        background-color: $light;

        &.current {
            background-color: $lightest;
        }
    }
}

.stat {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
