[submodule "awesome/battery-widget"]
	path = awesome/battery-widget
	url = https://github.com/deficient/battery-widget.git
[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "awesome/awesomewm-screenshot"]
	path = awesome/awesomewm-screenshot
	url = https://github.com/denisoster/awesomewm-screenshot.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
